<div class="container">

  <div class="mb-2">
    <button class="btn btn-sm btn-primary" (click)="nuevo()">+ Nuevo</button>
  </div>

  <div class="mb-3" *ngIf="flagShowForm">

    <div class="card" style="width: 80%;">
      <div class="card-header" *ngIf="!showButtonRegistrar">
        Actualizar Usuario
      </div>
      <div class="card-header" *ngIf="showButtonRegistrar">
        Nuevo Usuario
      </div>

      <div class="card-body">
        <form [formGroup]="usuarioForm">
          <div class="row">

            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Código</label>
                <input type="text" formControlName="codUsuario" maxlength="2" required class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" maxlength="50"  required class="form-control">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Usuario</label>
                <input type="text" formControlName="user" maxlength="50" required class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Password</label>
                <input type="password" formControlName="password" maxlength="50" required class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Sucursal</label>
                <select class="form-control my-1 mr-sm-2" formControlName="codSucursal">
                  <option value="xx">- Seleccionar Sucursal -</option>
                  <option *ngFor="let sucursal of sucursales" value="{{ sucursal.codSucursal }}">{{ sucursal.nombre}}</option>
                </select>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" *ngIf="showButtonRegistrar" (click)="registrar()">Registrar</button>
          <button type="submit" class="btn btn-primary" *ngIf="showButtonActualizar" (click)="actualizar()">Actualizar</button>
          <button type="button" class="btn btn-dark ml-2" (click)="cancelarForm()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>

  <div>
    <h2>LISTA DE USUARIOS</h2>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">User</th>
        <th scope="col">Password</th>
        <th scope="col">Cód Sucursal</th>
        <th scope="col">Sucursal</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{usuario.codUsuario}}</th>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.user}}</td>
        <td>****</td>
        <td>{{usuario.codSucursal}}</td>
        <td>{{usuario.nombreSucursal}}</td>
        <td>
          <button class="btn btn-primary btn-sm ml-1" (click)="editar(usuario)">Editar </button>
          <button class="btn btn-danger btn-sm ml-1" (click)="eliminar(usuario.codUsuario)">Eliminar </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

