<div class="container">

  <div class="mb-2">
    <button class="btn btn-sm btn-primary" (click)="nuevo()">+ Nuevo</button>
  </div>

  <div class="mb-3" *ngIf="flagShowForm">

    <div class="card" style="width: 80%;">
      <div class="card-header" *ngIf="!showButtonRegistrar">
        Actualizar Producto
      </div>
      <div class="card-header" *ngIf="showButtonRegistrar">
        Nuevo Producto
      </div>

      <div class="card-body">
        <form [formGroup]="productoForm">
          <div class="row">

            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Código</label>
                <input type="text" formControlName="codProducto" required="" maxlength="2" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" required="" maxlength="50" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Precio</label>
                <input type="number" formControlName="precio" required=""  min="0" step=".01" class="form-control">
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" *ngIf="showButtonRegistrar" (click)="registrar()">Registrar</button>
          <button type="submit" class="btn btn-primary" *ngIf="showButtonActualizar" (click)="actualizar()">Actualizar</button>
          <button type="button" class="btn btn-dark ml-2" (click)="cancelarForm()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>

  <div>
    <h4>LISTA DE PRODUCTOS</h4>
  </div>

  <div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let producto of productos">
        <th scope="row">{{producto.codProducto}}</th>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>
          <button class="btn btn-primary btn-sm ml-1" (click)="editar(producto)">Editar </button>
          <button class="btn btn-danger btn-sm ml-1" (click)="eliminar(producto.codProducto)">Eliminar </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

