<div class="container">

  <div class="mb-2">
    <button class="btn btn-sm btn-primary" (click)="nuevo()">+ Nueva</button>
  </div>

  <div class="mb-3" *ngIf="flagShowForm">

    <div class="card" style="width: 80%;">
      <div class="card-header" *ngIf="!showButtonRegistrar">
        Actualizar Sucursal
      </div>
      <div class="card-header" *ngIf="showButtonRegistrar">
        Nueva Sucursal
      </div>

      <div class="card-body">
        <form [formGroup]="sucursalForm">
          <div class="row">

            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Código</label>
                <input type="text" formControlName="codSucursal" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label  class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" class="form-control">
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" *ngIf="showButtonRegistrar" (click)="registrar()">Registrar</button>
          <button type="submit" class="btn btn-primary" *ngIf="showButtonActualizar" (click)="actualizar()">Actualizar</button>
          <button type="button" class="btn btn-dark ml-2" (click)="cancelarForm()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>

  <div>
    <h2>LISTA DE SUCURSALES</h2>
  </div>

  <div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sucursal of sucursals">
        <th scope="row">{{sucursal.codSucursal}}</th>
        <td>{{sucursal.nombre}}</td>
        <td>
          <button class="btn btn-primary btn-sm ml-1" (click)="editar(sucursal)">Editar </button>
          <button class="btn btn-danger btn-sm ml-1" (click)="eliminar(sucursal.codSucursal)">Eliminar </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

